---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/sections/Header.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import PainSection from "../components/sections/PainSection.astro";
import DemosSection from "../components/sections/DemosSection.astro";
import FeaturesSection from "../components/sections/FeaturesSection.astro";
import ProcessSection from "../components/sections/ProcessSection.astro";
import PricingSection from "../components/sections/PricingSection.astro";
import TestimonialsSection from "../components/sections/TestimonialsSection.astro";
import FAQSection from "../components/sections/FAQSection.astro";
import CTASection from "../components/sections/CTASection.astro";
import Footer from "../components/sections/Footer.astro";
---

<BaseLayout>
  <Header />
  <main>
    <HeroSection />
    <PainSection />
    <DemosSection />
    <FeaturesSection />
    <ProcessSection />
    <PricingSection />
    <TestimonialsSection />
    <FAQSection />
    <CTASection />
  </main>
  <Footer />
</BaseLayout>
